
@-webkit-keyframes wave {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


@keyframes wave {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.cardrow{
  display: block;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  }
  
  .cardrow .cardcolumn{
  display: inline-block;
 width: 30%;
  text-align: center;
  margin: 20px;
  }

  @media screen and (max-width:960px){
    .cardrow .cardcolumn{
     width: 50%;
    }
  }
  
  @media screen and (max-width:500px){
    .cardrow .cardcolumn{
     width: 70%;
    }
  }

 .music-card {
  margin: 100px auto;
  background: #fff;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 500px;
  border-radius: 6px;
}
/*
.edimg {
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}
*/
#edimg1{
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}

#edimg2{
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}

#edimg3{
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}

#edimg4{
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}

#edimg5{
  background: url('img1/alien.jpeg') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 1;
  height: 300px;
  width: 300px;
}
.edimg:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
 margin:0 0 0 -150px;
  width: 300px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 2, 4, 0)), to(#444));
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}

.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  background: radial-gradient(#353535, #383737);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 10px;
}

.playing .wave {
  border-radius: 40%;
  -webkit-animation: wave 3000ms infinite linear;
          animation: wave 3000ms infinite linear;
}
/* when stop */
.wave {
  border-radius: 40%;
  -webkit-animation: wave 55s infinite linear;
          animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}
/* when stop */
.wave:nth-child(2) {
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
}
/* when stop */
.wave:nth-child(3) {
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 1.4em;
  font-weight: 400;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}

.artist {
  color: #a19f9f;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: -30px;
}

.fa {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.fa-play {
  display: none;
}