html{
  height: 100%;
}
body {
  height: 100%;
background-color:#1f2029  ;

 overscroll-behavior:contain;}

[data-scroll-content] {
  padding: 10vw 0;
  
}

figure {
  padding: 10vw 5vw;
  
}
figure img {
  display: block; 
  width: 100%;
  height: auto;
  
}

#bgvideo {

  opacity:0.3;

     /* position: absolute; */
     position: fixed;

      top: 0;

      left: 0;

      width: 100%;

      height: auto;

      margin: 0px;

      min-width: 100%;

      min-height: 100%;

      z-index: -1;

      object-position: center;

      object-fit: cover;

}
